* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}

h3 {
  font-size: 2.8rem;
}

button {
  font-size: 1.8rem;
}

nav {
  background: rgb(61, 81, 102);
  color: white;
  padding: 3rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0 4rem;
}

.hero-section {
  background-image: url('./back.JPG');
  height: 80rem;
  background-position: center;
  background-size: cover;
}
